<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../common_head.ejs%>
</head>
<body>
<%- include ../common_header.ejs%>
<div class="main-container">
    <div class="row">
        <%- include left_nav.ejs%>
        <div class="col-md-10 col-lg-10">
            <div class="main-part">
                <div class="h2">Members</div>
                <div class="divider"></div>
                <div class="staff-list">
                    <ul>
                        <% doc.members.forEach(function(member){%>
                            <li>
                                <a href="/staff/member/<%= member.id%>"><img src="/staff/icon/<%= member.id%>" width="200px" height="200px" title="<%= member.id%> <%= member.nick_cn%>"></a>
                                <div class="staff-title"><%= member.nick%></div>
                            </li>
                        <%});%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../common_footer.ejs%>
</body>
<!--<script type="text/javascript" src="/requirejs_config.js"></script>
<script data-main="app/staff/profileMain" src="/bower_components/requirejs/require.js"></script>-->
</html>
